[hue]
enabled = False
# bridge = Address or name of your Philips Hue bridge
# lightbulbs = comma,separated,list,of,lightbulbs,to,control

[logger]
enabled = True
# Python logging format recognized here, see https://docs.python.org/3/library/logging.html#logging.Formatter
format = [%(asctime)-15s] %(message)s
# Available options: DEBUG, INFO, WARNING, ERROR
loglevel = DEBUG

[speech]
enabled = False
# Put your Google Speech Recognition API secret key here or in an environment variable named GOOGLE_SPEECH_API_KEY
# Instructions on how to get your key: http://www.chromium.org/developers/how-tos/api-keys
api_key = Your Google Speech API secret key
languages = en-us,it-it

[audio]
record_seconds = 3
wav_file = __TMPDIR__/audio.wav
flac_file = __TMPDIR__/audio.flac

[lastfm]
# Your Last.FM API key (how do I get one? http://www.last.fm/api)
api_key = YOUR_API_KEY
# Your Last.FM API secret key (how do I get one? http://www.last.fm/api)
api_secret = YOUR_API_SECRET_KEY
# Your own session key (how do I get one?  http://www.last.fm/api/show/auth.getSession)
session_key = YOUR_SESSION_KEY

[mpd]
host = localhost
port = 6600

